.chat-block {
    padding: 10px;
    // background-color: #0078CE;
    width: 250px;
    border-radius: 8px;
    min-height: 30px;
    margin-top: 5px;
    //styleName: Body / Small;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 12px;
    .MuiTypography-body1 {
        font-size: 12px;
    }
}

.chat-grid {
    // padding: 20px;
    position: relative;
}

.chat-msg {
    .MuiListItem-gutter {
        padding-left: 0px !important;
    }
}

.message-box {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    //align-items: center;
    //padding: 10px;
    .MuiInput-underline:before{
        border-bottom: none;
    }
    .MuiInput-underline:hover:not(.Mui-disabled):before{
        border-bottom: none;
    }
    .MuiInputBase-root {
        box-sizing: none;
    }
    .MuiGrid-container {
        justify-content: end;
    }
}

.icon {
    margin: 0px 10px 0px 10px;
    padding-top: 15px;
    height: 31px;
width: 24px;
left: 981px;
top: 960px;
border-radius: 0px;

}

.chat-right {
    margin: 20px !important;
    justify-content: flex-end !important;
    display: flex;
    .chat-block {
        background-color: #F9F9F9;
        color: #324552;
    }
    .MuiListItem-gutters {
        padding-left: 0px;
    padding-right: 0px;
    }
    .MuiListItem-button:hover, .MuiListItem-button:focus {
        background-color: #FFFFFF;
    }
    .MuiListItemText-root {
        margin-left: 10px;
    }
}

.chat-left {
    justify-content: flex-start !important;
    display: flex;
    margin: 20px !important;
    .chat-block {
        background-color: #0078CE;
        color: #FFFFFF;
    }
    .MuiListItem-gutters {
        padding-left: 0px;
    padding-right: 0px;
    }
    .MuiListItem-button:hover, .MuiListItem-button:focus {
        background-color: #FFFFFF;
    }
    .MuiButtonBase-root {
        cursor: default;
    }
    .MuiListItemText-root {
        margin-left: 10px;
    }
}

.timeStamp {
    color: #7D92A1;
//styleName: Buttons & Labels / XSmall;
font-family: Work Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: right;

}



.userName {
    font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 0px;
text-align: left;

}

.segment-text {
    .MuiTypography-body1 {
font-family: Work Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
    }

}

.scroll-flow {
    overflow-y: scroll;
    @media screen and (min-width: 1024px) and  (max-width: 1300px) {
     //   height: 400px;
    }
    @media screen and (min-width: 1300px) and (max-width: 1440px) {
    //    height: 500px;
    }
    @media screen and (min-width: 1440px) {
    //    height: 465px;
    }
    
}


.bottomChatSectionHolder{
   position: absolute;
    bottom: 0;
    width: 100%;
     
}


.helper-text {
font-family: Work Sans !important;
font-size: 12px !important;
text-align: right;
}

.chatBoxHolder{
    align-items: flex-end;
    display: block;
    flex-direction: column;
    padding: 10px 15px 0px;
    
    justify-content: flex-end;
    padding-bottom: 70px;
    overflow: auto;
    .chatSection{
        width: 100%;
        .chatBox{
            width: 100%;
            max-width: 310px;
            .messageInfoBox{
                display: flex;
                align-items: center;
                    .messageInfoUser{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                    }

            }

            .messageBoxBlue{
                background-color: #0078CE;
                padding:16px 16px;
                color:#fff;
                margin: 10px 0px 10px;
                
            }

            .tickGreen {
                color: #116019;
                font-size: 20px;  
            }

        }

    }

    .chatSection.right{
        justify-content: flex-end;
        .chatBox{
            margin-right: 0px;
            margin-left: auto;
        }
    }
}
