.header-message {
  text-align: left;
  margin: 10px;
  background-color: white;
  svg {
    height: 22px;
width: 22px;
left: 1px;
top: 1px;
border-radius: 0px;

  }
}

.inbox-block {
  display: flex;
  align-items: center;

  // .MuiGrid-container {
  //   height: 45px;
  // }
}

.app-container {
 // padding: 5px;
  // .MuiGrid-item {
  //   margin: 10px;
  // }
}

.logoicon {

 // height: 53px;
// width: 48px;
// left: 20px;
// top: 18px;
//border-radius: 0px;

}

/* css new code */

.appBarHeader{
  background: #fff;
  h6{
    a{
      color: #324552;
      // font-family: ;
       font-size: 28px;
       text-decoration: none;
       margin-left: 15px;
    }
   

  }
}